@import "rsuite/dist/rsuite.min.css";
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  font-family: inherit;
}
:root {
  --light: #f7f7f7;
  --dark: #212223;
  --primary: #217fd2;
  --secondary: #e9e9e9;
  --success: #32bb32;
  --info: #42b6da;
  --warning: #d4ad1d;
  --danger: #d0332d;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-display: optional;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--light);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--info);
  border-radius: 1rem;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: var(--secondary);
  color: var(--dark);
  min-height: 100vh;
}
#root {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}
/* re-usable class */

.t-dark {
  color: var(--dark);
}
.t-light {
  color: var(--light);
}
.t-primary {
  color: var(--primary);
}
.t-warning {
  color: var(--warning);
}
.t-danger {
  color: var(--danger);
}
.t-info {
  color: var(--info);
}
.t-success {
  color: var(--success);
}
.t-opacity {
  --oValue: 0.7;
  opacity: var(--oValue);
}
.t-p-shadow {
  text-shadow: 0 0 1rem var(--primary);
}
.t-i-shadow {
  text-shadow: 0 0 1rem var(--info);
}
.t-s-shadow {
  text-shadow: 0 0 1rem var(--success);
}
.t-w-shadow {
  text-shadow: 0 0 1rem var(--warning);
}
.t-d-shadow {
  text-shadow: 0 0 1rem var(--danger);
}
.pointer {
  cursor: pointer;
}
.letter-space {
  --value: 0.1;
  letter-spacing: var(--value);
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.gap-sm {
  gap: 1rem;
}
.gap-md {
  gap: 2rem;
}
.gap-lg {
  gap: 3rem;
}
.gap-xl {
  gap: 4rem;
}
.gap-2xl {
  gap: 5rem;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.pad-x-y {
  --x: 1;
  --y: 1;
  padding: calc(var(--x) * 1rem) calc(var(--y) * 1rem);
}
.padding-sm {
  padding: 1rem;
}
.padding-md {
  padding: 2rem;
}
.padding-lg {
  padding: 3rem;
}
.padding-xl {
  padding: 4rem;
}
.padding-2xl {
  padding: 5rem;
}
.pl {
  --value: 1;
  padding-left: calc(var(--value) * 1rem);
}
.pt {
  --value: 1;
  padding-top: calc(var(--value) * 1rem);
}
.pb {
  --value: 1;
  padding-bottom: calc(var(--value) * 1rem);
}
.pr {
  --value: 1;
  padding-right: calc(var(--value) * 1rem);
}

.margin-sm {
  margin: 1rem;
}
.margin-md {
  margin: 2rem;
}
.margin-lg {
  margin: 3rem;
}
.margin-xl {
  margin: 4rem;
}
.margin-2xl {
  margin: 5rem;
}
.margin-x-y {
  --x: 1;
  --y: 1;
  margin: var(--x) rem var(--y) rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin: 0 auto;
}
.mt {
  --value: 1;
  margin-top: calc(var(--value) * 1rem);
}
.ml {
  --value: 1;
  margin-left: calc(var(--value) * 1rem);
}
.mr {
  --value: 1;
  margin-right: calc(var(--value) * 1rem);
}
.mb {
  --value: 1;
  margin-bottom: calc(var(--value) * 1rem);
}
.pt {
  --value: 1;
  padding-top: calc(var(--value) * 1rem);
}
.pl {
  --value: 1;
  padding-left: calc(var(--value) * 1rem);
}
.pb {
  --value: 1;
  padding-bottom: calc(var(--value) * 1rem);
}
/* re-usable classes  */
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.flex-grow-up {
  flex-grow: 1;
}
.flex-grow-down {
  flex-grow: 0;
}
.flex-shrink-up {
  flex-shrink: 1;
}
.flex-shrink-down {
  flex-shrink: 0;
}

/* display grid classes */
.grid-column {
  grid-template-columns: repeat(12, 1fr);
}
.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.grid-span-1 {
  grid-column: span 12;
}
.grid-span-2 {
  grid-column: span 2;
}
.grid-span-3 {
  grid-column: span 3;
}
.grid-span-4 {
  grid-column: span 4;
}
.grid-span-6 {
  grid-column: span 6;
}
/* image custom style  */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sticky {
  --top: 0;
  position: sticky;
  top: var(--top) rem;
}
.absolute {
  --top: 0;
  --left: 0;
  position: absolute;
  top: var(--top) rem;
  left: var(--left) rem;
}
.relative {
  position: relative;
}
.radius-1 {
  border-radius: 1rem;
}
.radius-2 {
  border-radius: 2rem;
}
.radius-init {
  --init: 1;
  border-radius: calc(var(--init) * 1rem);
}
.pad-content-x {
  padding-inline: 2rem;
}
.pad-content-y {
  padding-block: 2rem;
}
.transition {
  transition: 300ms ease-in-out;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.shadow-3d-light {
  box-shadow: -5px -5px 5px #fff, 3px 3px 1rem rgba(10, 9, 9, 0.5);
}

.t-p-stroke {
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--primary);
  letter-spacing: 0.09rem;
}
.t-w-stroke {
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--warning);
  letter-spacing: 0.09rem;
}
.t-i-stroke {
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--info);
  letter-spacing: 0.09rem;
}
.t-s-stroke {
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--success);
  letter-spacing: 0.09rem;
}
.t-d-stroke {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--danger);
  letter-spacing: 0.09rem;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-lowercase {
  text-transform: lowercase;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-bold {
  --bValue: 500;
  font-weight: var(--bValue);
}
.max-w {
  --mwValue: 30;
  max-width: calc(var(--mwValue) * 1rem);
}
.t-balance {
  text-wrap: balance;
}
.link {
  font-weight: 500;
  text-decoration: none !important;
}
.list-item .link {
  border-right: 2px solid var(--primary) !important;
}
.list-item:last-child .link {
  border-right: none !important;
}
.p-icon {
  --fsValue: 3;
  font-size: calc(var(--fsValue) * 1rem);
}
.input {
  padding-left: 2rem;
}
.input:focus {
  background-color: inherit;
}
.custom-slider {
  height: 80vh;
}
.custom-slider img {
  object-fit: fill;
}

/* animation classes */
.ty:hover {
  --tyValue: -1;
  transform: translateY(calc(var(--tyValue) * 1rem));
}

.line {
  height: 0.3rem;
  background-image: linear-gradient(to right, var(--warning), var(--info));
  width: 95%;
  margin: 3rem auto;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--danger), var(--primary));
  border:0.5rem solid;
  border-color: var(--light) var(--dark) var(--info) var(--warning);
  animation: rotate 10s linear infinite;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.line::after{
  right: 0;
}
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 765px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  @media screen and (max-width: 765px) {
    h1 {
      font-size: 1.8rem;
      line-height: 1.5;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    h5 {
      font-size: 0.9rem;
    }
  }
}
